
# \ <section:top>
# powered by metaL: https://repl.it/@metaLmasters/metaL#README.md 
# @file# @file
*~
*.swp

*.log
# / <section:top>
# \ <section:mid>
*.ll
*.s
*.bc
# / <section:mid>
# \ <section:bot>
/llvm.exe
/llvm
*.o
*.objdump
# / <section:bot>