*~
*.swp

*.log
*.exe
*.o

*.pyc
/bin/
/include/
/lib/
/lib64
/share/
pyvenv.cfg

/docs/ref/
poetry.lock

/home/
/litres/

/python-xml-to-dict-parser/
/eLLVM/
/metaLang/
/exwm/
/excamp/

/bully/

/camp/
/jupy/
/bcx/
/hashplay/
/melixir/
/stm32/
/IoPT/
/beowulf/
/SCADA/
