<!-- powered by metaL: https://github.com/ponyatov/metaL/wiki/metaL-manifest -->
<!-- \ <section:top> -->
{% extends 'all.html' %}
{% load static %}
{% block style %}
*                             {
	color:white !important;
}
.window                       {
	width:320px; height:240px;
	min-width:16px; min-height:16px;
	max-width:640px; max-height:480px;
	background:#024 !important; border: 2px solid white;
	resize: both; move: both; overflow: hidden;
	border-radius: 7px;
}
{% endblock %}
<!-- / <section:top> -->
<!-- \ <section:mid> -->
{% block body %}
<!-- \ <section:body> -->
<div class="window"><pre>
&ltwindow:browser&gt #e7eafa55 @7fba9af28048</pre></div>
<!-- / <section:body> -->
{% endblock %}
<!-- / <section:mid> -->
