
#  powered by metaL: https://github.com/ponyatov/metaL/wiki/metaL-manifest
# \ <section:top>
*~
*.swp
*.log
/tmp/
# / <section:top>
# \ <section:mid>
/debian-live-10.5.0-i386-standard+nonfree.iso
# / <section:mid>